@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #252326;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 50px;
    line-height: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}

.services {
    padding: 100px 0;
    text-align: center;
}

.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr {
    border: 1px solid #cf2d3a;
    width: 80px;
}

.services-txt p {
    padding: 50px 150px;
    color: #FFFFFF;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #DFDDE0;
    
}

.services-group2 {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #DFDDE0;
}

.services-1 {
    background-color: #070707;
    padding: 35px 5px;
    margin: 25px 10px;
    border-radius: 15px;
    
}

.services-2 {
    background-color: #070707;
    padding: 35px 5px;
    margin: 25px 10px;
    border-radius: 15px;
    
}


.services-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3 {
    font-size: 20px;
    color: #e45d34;
}

.services-1 a {
    color: #cf2d3a;
    font-size: 16px;
}

.header-content {
    position: relative;
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 70px;
    color: #DFDDE0;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 15px;
    padding: 0 200px;
    color: #8b7e7b;
    margin-bottom: 80px;
}

.botons {
    display: flex;
    justify-content: center;
}

.btn-1 {
    display: inline-block;
    width: 200px;
    margin: 0 10px;
    padding: 13px 0;
    border-radius: 25px;
    color: #dfdde0;
    text-transform: uppercase;
    background-color: #e45d34;
}
.btn-1:hover {
    background-color: #c23b11;
}



.recetas {
    display: flex;
    padding: 120px 0;
}

.recetas-1 {
    width: 50%;
}

.recetas-1 h3 {
    font-size: 18px;
    color: #DFDDE0;
}

.recetas-1 p {
    color: #e45d34;
}

.recetas-1 hr {
    margin: 10px 0;
    border: 1px solid #312F32;
}

.recetas-2 {
    width: 50%;
    text-align: center;
}

.recetas-2 h2 {
    font-size: 55px;
    line-height: 55px;
    color: #DFDDE0;
}

.platillos {
    padding: 0px 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.html {
    border-radius: 10px;
}

.css {
    border-radius: 200px;
}

.swiper-slide {
    text-align: center;
    padding-bottom: 50px;
}


.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-prev {
    color: #e45d34;
}

.swiper-button-next {
    color: #e45d34;
}

.swiper-pagination-bullet {
    background-color: #DFDDE0;
    opacity: 1;
    top: 50px;
}

.seiper-pagination-bullet-active {
    background-color: #e45d34;
}

.platillo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.platillo h3 {
    font-size: 16px;
    color: #DFDDE0;
    margin-bottom: 10px;
}

.precio {
    font-size: 18px;
    color: #e45d34 !important;
}

.platillo img {
    width: 200px;
}

.platillo p {
    font-size: 16px;
    color: #DFDDE0;
    margin-top: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 0px 15px;
    background-color: #e85123;
    color: #DFDDE0;
    font-size: 14px;
    margin-top: 25px;
    border-radius: 25px;
}

.btn-2:hover {
    background-color: #c23b11;
}

.c1, c2 {
    color: #8d7e7b !important;
}

.btn-3 {
    display: inline-block;
    color: #DFDDE0;
    padding: 0px 10px;
    border-radius: 25px;
    margin-top: 30px;
    border: 5px solid #DFDDE0;
}

.btn-3:hover {
    background-color: #e85123;
    border: 1px solid #e85123;
}

.precios {
    background-color: #252326;
    display: flex;
}

.precios-1 {
    width: 50%;
    padding: 120px 250px 150px 110px;
    background-color: #252326;
}

.precios-2 {
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.footer {
    padding-bottom: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link {
    width: 25%;
}

.link h3 {
    font-size: 20px;
    color: #DFDDE0;
    margin-bottom: 20px;
}

.link p {
    color: #8d7e7b;
    font-size: 14px;
    margin: 0 50px 15px 0;
}

.link ul li a {
    display: inline-block;
    font-size: 16px;
    color: #DFDDE0;
    margin-bottom: 10px;
}

.socials-2 img {
    width: 20px;
    height: 20px;
}

.link form {
    display: flex;
    flex-direction: column;
}

.inp {
    margin-bottom: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
}
.btn-4 {
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #61bc00;
    border: 0;
    color: #DFDDE0;
}

@media (max-width: 991px) {
    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    } 

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 30px;
        margin-top: 130px;
    }

    .header-content h1 {
        font-size: 40px;
    }

    .header-content p {
        padding: 0;
        margin-bottom: 40px;
    }

    .botons {
        flex-direction: column;
        align-items: center;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }

    .socials-1 {
        display: none;
    }

    .arrow {
        display: none;
    }

    .recetas {
        flex-direction: column;
        padding: 0px 30px;
        text-align: center;
    }

    .recetas-1 {
        width: 100%;
        margin-bottom: 25px;
    }

    .recetas-2 {
        width: 100%;
    }

    .footer {
        padding: 30px;
    }

    .links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .link {
        width: 70%;
    }

    .link p {
        margin: 0 0 25px 0;
    }

    .socials-2 {
        margin-bottom: 15px;
    }
}
